/* Swiper Navigation Styles */
.swiper-button-prev,
.swiper-button-next {
    top: 44% !important;
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    color: #43bff8 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important;
    font-weight: bold;
}

.swiper-button-prev {
    left: 10px !important;
}

.swiper-button-next {
    right: 10px !important;
}

/* Pagination Styles */
.swiper-pagination {
    position: relative !important;
    bottom: -10px !important;
    padding-top: 20px;
}

.swiper-pagination-bullet {
    background: #999;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}